:root {
    --faded: rgba(0, 0, 0, .04);
    --faded-dark: rgba(0, 0, 0, .6);
}

[gigi-select] {
    display: none;
    overflow-y: auto;
    margin-top: 7px;
    max-height: 200px;
    border: 1px solid var(--faded);
}

[gigi-option] {
    padding: 15px 12px;
    font-size: 90%;
    color: var(--faded-dark);
    cursor: pointer;
    display: none;
}

[gigi-option]:hover {
    background-color: var(--faded);
}